.App {
  text-align: center;
}

body {
  background: linear-gradient(-45deg, #39a7ff, #87c4ff, #23a6d5, #23d5ab);
  background: linear-gradient(-45deg, #63b7fc, #23ccd5, #2361d5);
  background-size: 400% 400%;
  animation: gradient 19s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
